@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*"Lato", sans-serif */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*"Montserrat", sans-serif */

$fontSize: 1.8rem;

$fontSize2: 2rem;

$navColor: #A084CF; /* COLOR DE NAV Y FOOTER */

$titulosColor: #5a3b8f; /* COLOR DE TÍTULOS PRINCIPALES */

$hoverColor: #37a0b0; /* COLOR SECUNDARIO Y DE HOVER */

