/* Imagenes y descripción */

.gestionRedes{
    display: flex;
    flex-direction: column;
    @include whGrid;
    text-align: center;
    font-size: $fontSize;
    background-color: white;
    & em{
        color: gray;
        font-style: italic;
    }
    & img{
        padding-top: 3%;
        padding-bottom: 2%;
        width: auto;
        height: auto;
        &:hover{
            transform: scale(1.1);
            transition: all 2s;
        }
    }
    & p{
        @include tablet{
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}

.titulo{
    @include estilosH1;
    font-size: $fontSize2+1;
    padding-bottom: 0%;
    padding-top: 5%;
}

.publicacionesAparte{
    padding-bottom: 5%;
}

.volverDos{
    padding-bottom: 5%;
    & a{
        color: $titulosColor;
        text-decoration: none;
        transition: 1s ease;
        &:hover{
            color: $hoverColor;
            font-size: $fontSize+0.2;
        }
    }
    @include mobile{
        padding-bottom: 10%;
    }
}