/* Texto y título */

.tusredesImportan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/backgroundImage5.jpg);
    @include imgBackground;
    padding-top: 2%;
    padding-bottom: 5%;
    & p{
        text-align: left;
        padding: 1% 27% 0% 31%;
        @include tablet{
            padding: 1% 10% 0% 21%;
        }
    }
    &:hover{
        background-image: url(../images/backgroundImage4.jpg);
        transition: all 3s;
    }
    & .misTrabajos{
        font-weight: bold
    }
    & h1{
        @include estilosH1;
        text-align: center;
        margin: 4% 0% 1% 2%;
        color: #37a0b0 ;
        transition: 1s ease;
        @include tablet{
                margin: 3% 0% 2% 21%;
                text-align: left;
            }
        @include mobile{
            text-align: center;
            margin: 15% 5% 2% 5%;
        }
        &:hover{
            font-size: 5rem;
        }
        & p{
            @include mobile{
                text-align: center;
                padding: 2% 10% 10% 10%
                }
            }
        }
    }


