/* footer */
footer{
    grid-area: footer;
    background-color: $navColor;
    color: white;
    padding-top: 4%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "inputGroup logoAbril redesSociales"
    "textos textos textos"
    "copyright copyright copyright"
    ;
    justify-items: center;
    justify-content: center;

    @include mobile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "inputGroup inputGroup"
        "logoAbril textos"
        "redesSociales redesSociales"
        "copyright copyright"
        ;
        justify-items: center;
        justify-content: center;
        align-items: center;

    }
}

/* Barra de búsqueda */
.inputGroup{
    grid-area: inputGroup;
}

/* Icono de mi logo */
.logoAbril{
    grid-area: logoAbril;
    & img:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    @include mobile{
        padding-left: 35%;
    }
    
}

/* Iconos de redes sociales */
.redesSociales{
    grid-area: redesSociales;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    & img:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    & .iconoInstagram{
        padding-right: 7%;
    }
    @include mobile{
        padding-top: 10%;
        padding-bottom: 5%;
    }
}

/* Texto */
.textos{
    grid-area: textos;
    padding-top: 2%;
    & p{
        font-size: $fontSize - 0.2;
        font-weight: bold;
    }
    @include mobile{
        padding-right: 35%;
    }
}

/* Copyright */
.copyright{
    grid-area: copyright;
    padding-bottom: 1%;
    font-size: $fontSize - 0.8;
    font-weight: lighter;
}
