/* FRASE INSPIRADORA */
.seccionTres{
    grid-area: seccionTres;
    color: white;
    background-color: #37a0b0;
    padding: 10%;
    transition: 0.2s linear;
    &:hover{
        background-color: $titulosColor;
    }
    @include mobile{
        padding: 20% 0% 20% 0%;
    }
}

.fraseFavorita{
    font-size: $fontSize2;
    text-align: center;
}

.paulRandfrase{
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
    font-size: $fontSize+4.2;
    font-weight: bolder;

    @include mobile{
        padding: 3% 10% 3% 10%;
        font-size: $fontSize+2.7;
    }
}

/* CITA */

.paulRandcita{
    margin-top: 3%;
    font-size: $fontSize2;
    font-style: italic;
    text-align: center;
    & a{
        color: #DAEAF1;
        text-decoration: none;
        &:hover{
            color: $hoverColor;
        }
    }
}
