/* grilla */

.grillaPrincipal{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 2fr);
    grid-template-areas:
    "maindeIndex maindeIndex maindeIndex maindeIndex"
    "experienciaLaboral experienciaLaboral formacionAcademica formacionAcademica"
    "programasAfines programasAfines programasAfines programasAfines"
    "seccionTres seccionTres seccionTres seccionTres"
    "detallesPropios detallesPropios detallesPropios detallesPropios"
    "acordion acordion acordionDos acordionDos"
    "footer footer footer footer";
    @include whGrid;

    @include mobile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
        "header header"
        "maindeIndex maindeIndex"
        "experienciaLaboral experienciaLaboral"
        "formacionAcademica formacionAcademica"
        "programasAfines programasAfines"
        "seccionTres seccionTres"
        "detallesPropios detallesPropios"
        "footer footer";
        @include whGrid;
    }
}

/* * MAIN */ 
.maindeIndex{
    grid-area: maindeIndex;
    padding: 7% 2% 4% 2%;
    background-image: url(../images/fondoDemain.jpg);
    background-attachment: fixed;
    @include imgBackground;
    & h1{
        @include estilosH1;
        text-align: center;
        padding-bottom: 2%;
            @include tablet{
            padding-bottom: 5%;
            }
        }
    @include mobile{
        padding-top: 15%;
    }
}

/* Informacion e imagen */

.primeraSeccion{
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-areas: 
    "imagenPersonal informacionLaboral"
    "imagenPersonal informacionLaboral"
    ;
    justify-items: end;
    gap: 2%;

        @include mobile{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "imagenPersonal"
        "informacionLaboral"
        ;
        gap: 2%;
        justify-items: center;
        }
}

.informacionLaboral{
    grid-area: informacionLaboral;
    text-align: left;
    margin-top: 1%;
    font-size: $fontSize;
    padding-right: 10%;

    @include tablet{
        padding-right: 5%;
    }
    @include mobile{
        text-align: center;
        padding: 0% 10% 10% 10%;
    }
}

.sobreMi{
    margin-top: 4%;
    font-weight: bold;
    font-size: $fontSize;
    & a{
        text-decoration: none;
        color: $titulosColor;
        transition: 1s ease;
        &:hover{
            color: $hoverColor;
            font-size: $fontSize+0.2;
        }
    }
}

.imagenPersonal{
    grid-area: imagenPersonal;
    & img{
        border-radius:10%;
    }
}







