.programasAfines{
    grid-area: programasAfines;
    padding: 5%;
    background-image: url(../images/fondoDemain.jpg);
    background-attachment: fixed;
    @include imgBackground;
    @include tablet{
        padding: 10% 0% 15% 0%;
    }
    & p{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 5%;
        font-weight: bolder;
        color: $titulosColor;

        @include mobile{
            font-size: 2rem;
            margin-bottom: 10%;
            padding-top: 10%;
        }
    }
}

.graficos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & img{
            width: 95%;
            padding-bottom: 25%;
        }
    }
}